* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-weight: 200;
  color: hsl(212, 6%, 44%);
}

h1,
h2 {
  text-align: center;
  font-size: 34px;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 600;
  font-size: 18px;
}

.p {
  text-align: center;
  width: 500px;
  margin-inline: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

p {
  font-size: 15px;
  font-weight: 400;
  color: hsl(212, 6%, 44%);
}

.container {
  max-width: 1500px;
}

.card {
  display: flex;
  align-content: center;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.two-card {
  display: flex;
  gap: 20px;
  margin-inline: 15px;
  flex-direction: column;
}

.card-1 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px hsla(234, 12%, 34%, 0.1);
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  margin-top: auto;
  width: 350px;
  margin-bottom: auto;
  border-top: 4px solid hsl(180, 62%, 55%);
  border-radius: 5px;

  min-height: 250px;
}

.card-2 {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px hsla(234, 12%, 34%, 0.1);
  padding: 30px;
  margin-top: 20px;
  width: 350px;
  margin-bottom: 5px;
  border-top: 4px solid hsl(0, 78%, 62%);
  border-radius: 5px;

  min-height: 250px;
}

.card-3 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px hsla(234, 12%, 34%, 0.1);
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  margin-top: 5px;
  width: 350px;
  margin-bottom: 10px;
  border-top: 4px solid hsl(34, 97%, 64%);
  border-radius: 5px;
  min-height: 250px;
}

.card-4 {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px hsla(234, 12%, 34%, 0.1);
  padding: 30px;
  background-color: hsl(0, 0%, 100%);
  margin-top: auto;
  width: 350px;
  margin-bottom: auto;
  border-top: 4px solid hsl(212, 86%, 64%);
  border-radius: 5px;
  align-content: center;
  min-height: 250px;
}

.img {
  margin-top: auto;
  margin-left: auto;
  display: block;
}

@media only screen and (max-width: 778px) {
  /* Mobile Design */

  .container {
    max-width: 375px;
    width: 100%;
    text-align: center;
  }

  .p {
    width: 300px;
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-content: center;
    justify-content: center;
    margin-top: 10px;
  }

  h1,
  h2 {
    margin-right: 25px;
    font-size: 20px;
  }

  .two-card {
    margin-inline: 0;
  }
}
